body {
  font-family: "Inter", system-ui, sans-serif;
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-md);
  background-color: hsl(var(--background));
}

body,
html,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: red !important;
}

#app {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
}

#app::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  position: fixed;
  top: var(--header-height, 8.8rem);
  bottom: var(--footer-height, 9.2rem);
  right: 0.1rem;
  width: 0.3rem;
  z-index: 9999;
  pointer-events: none;
}

.custom-scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border-radius: var(--radius-full);
  background: hsl(var(--border));
  opacity: 0;
  transition: opacity 0.3s ease;
  will-change: transform, opacity;
  transform: translateZ(0);
}

.custom-scrollbar.is-visible .custom-scrollbar-thumb {
  opacity: 1;
}
